vendor/
node_modules/
.env
*.log
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/
public/hot
public/storage
.phpunit.result.cache
.DS_Store
